
<div *ngIf="plant" class="container">
  <img [src]="plant.imageUrl" [alt]="plant.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{plant.name}}
      </span>

      <div class="description">
        <div class="header">
        <span class="description">
          {{plant.description}}
        </span>

      </div>


    <div class="price">
      <div class="header">
      <span>

        {{plant.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>

  </div>
</div>
