
<header>
  <div class="container">


    <a routerLink="/" class="logo">  <img src="https://img.freepik.com/free-vector/vector-big-green-leaves-tropical-monstera-plant-isolated-white-background_1284-48407.jpg"></a>
    <nav>
      <ul>
        <li *ngIf="!isAuth" >
          <a routerLink="/login">Login</a>
        </li>
        <!-- <li *ngIf="!isAuth" class="menu-container"> -->
          <a routerLink="/dashboard">{{user.name}}</a>

        <li>

          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity" >{{cartQuantity}}</span>
          </a>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
