<div class="container">
  <div class="details">

    <app-title title="Order summary" fontSize="1.6rem"></app-title>

    <div class="summary">
      <div>
        <h3>Name:</h3>
        <span>{{order.name}}</span>
      </div>
      <div>
        <h3>Address:</h3>
        <span>{{order.address}}</span>
      </div>
    </div>
    <app-order-item-list [order]="order"></app-order-item-list>
</div>
</div>
//paypal
<div class="buttons-container">
  <div class="buttons">
    <app-paypal [order]="order">
    </app-paypal>
  </div>
</div>

      <!-- partial:index.partial.html -->
      <!-- <div id="bg"></div>

        <div class="form-field">
          <input type="name" placeholder="name" formControlName="name"/>
        </div>
        <div class="form-field">
          <input type="address" placeholder="address" formControlName="address"/>
        </div>

<!--<div *ngIf="fc.email.errors.required">should not be empty.</div>
<div *ngIf="fc.email.errors.email">email is not correct</div>-->


        <!-- <div class="form-field">
          <input type="password" placeholder="Password"formControlName="password" required/>                         </div> -->

        <!-- <div class="form-field">
          <button class="btn" type="submit">Got to payment</button>
        </div>
 -->


