<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">



      <!-- partial:index.partial.html -->
      <div id="bg"></div>

        <div class="form-field">
          <input type="email" placeholder="Email / Username" formControlName="email"/>
        </div>
<div class="error-list" *ngIf="fc.email.errors&& isSubmitted"></div>
<!--<div *ngIf="fc.email.errors.required">should not be empty.</div>
<div *ngIf="fc.email.errors.email">email is not correct</div>-->


        <div class="form-field">
          <input type="password" placeholder="Password"formControlName="password" required/>                         </div>

        <div class="form-field">
          <button class="btn" type="submit">Log in</button>
        </div>

      <!-- partial -->

