<div class="container">
  <div class="details">
    <h1>SIGN UP</h1>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <div class="form-field">
        <input type="name" placeholder="Full Name" formControlName="name"/>
</div>
        <div class="form-field">
          <input type="email" placeholder="Email " formControlName="email"/>
        </div>
<div class="error-list" *ngIf="fc.email.errors&& isSubmitted"></div>



        <div class="form-field">
          <input type="password" placeholder="Password"formControlName="password" required/>
        </div>


        <div class="form-field">
          <input type="password" placeholder="Confirm Password"formControlName="password" required/>
        </div>

          <div class="form-field">
            <input type="address" placeholder="Address" formControlName="address"/>
</div>
<div class="form-field">
  <button class="btn" type="submit">Sign Up</button>
</div>


        <div class="form-field">
          <p>Aready a user? <a routerLink="/login"[queryParams]="{returnUrl}">Login here</a></p>
   </div>
   </form>
   </div>
   </div>



