

<div class="container">
  <div class="details">

    <h1>CHECKOUT</h1>

    <form [formGroup]="checkoutForm ">
      <table borde="10">
        <tr><td>  <h3>Shipping Details:</h3>
           <div class="f1">
       <!-- <div id="bg"></div> -->
        <div class="form-field">
        <input type="name" placeholder="name" formControlName="name"/>
      </div>
      <div class="form-field">
        <input type="email" placeholder="email" formControlName="email"/>
      </div>
      <div class="form-field">
        <input type="address" placeholder="address" formControlName="address"/>
      </div><td colspan="5"></td><td class="t1">.......................................................................................................</td>
      </div></td>
      <!-- <tr> -->
<td><app-order-item-list [order]="order"></app-order-item-list>


      <!-- <div id="bg"></div> -->

      <!-- <th><h3>pay here</h3></th> -->

<!-- <tr> -->
  <!-- <td class="t1">................................................................</td> -->
<div class="buttons-container">
          <div class="buttons" >

            <app-paypal [order]="order">
            </app-paypal>
          </div>
        </div></td>
</tr>
        </table>
</form>
